---
import { ViewTransitions } from "astro:transitions";

type Props = {
	title: string;
	description: string;
	url: string;
	image: string;
	author: string;
};

const { title, description, url, image, author } = Astro.props;

const subtitle = "Let's talk about history!";
---

<!-- general meta -->
<meta name="title" content={`${title} - ${subtitle}`} />
<meta name="description" content={description} />
<meta name="author" content={author} />

<!-- open graph -->
<meta property="og:title" content={`${title} - ${subtitle}`} />
<meta property="og:description" content={description} />
<meta property="og:type" content="website" />
<meta property="og:url" content={url} />
<meta property="og:image" content={Astro.site ? `${Astro.site}${image}` : image} />

<!-- page title -->
<title>{title} - {subtitle}</title>

<ViewTransitions />
