---
import ContentMedia from '../../components/ContentMedia.astro'
import DefaultLayout from '../../layouts/DefaultLayout.astro'
import { useTranslations, type Locale } from '../../utils/i18n'
import microscope from '../../assets/img/microscope.webp'
import portrait from '../../assets/img/portrait.webp'
import family from '../../assets/img/family.webp'
import fotokiste from '../../assets/img/fotokiste.webp'
import hands from '../../assets/img/hands.webp'
import teapot from '../../assets/img/teapot.webp'
import Feature from '../../components/Feature.astro'
import { Notification } from 'accessible-astro-components'

const t = useTranslations(Astro.currentLocale as Locale)
const redirectUrl = new URL(Astro.url.toString())
redirectUrl.searchParams.set('sent', 'true')

export { getStaticPaths } from '../../utils/i18n'
export const prerender = true
---

<DefaultLayout title={t('families.title')}>
  <section class="my-64">
    <div class="flex flex-col items-center gap-20">
      <h1 class="max-w-screen-sm text-center text-6xl lg:text-8xl">
        {t('families.intro.h1')}
      </h1>
      {
        t('families.intro.p').map((paragraph) => (
          <p class="max-w-screen-sm text-center text-xl lg:text-2xl">{paragraph}</p>
        ))
      }
    </div>
  </section>
  <section class="my-64">
    <ContentMedia imgSrc={microscope}>
      <h4>{'Wer waren die Menschen, die uns vorausgingen?'}</h4>
      <p class="text-xl">
        {'Wie lebten und arbeiteten sie? Was war ihnen wichtig? Was taten sie, um ihre Situation zu verändern?'}
      </p>
      <p class="text-xl">
        {
          'Ich erforsche, was Sie bewegt. Ich recherchiere für Sie in Archiven,  übersetze alte Handschriften und bringe Ihre Familiengeschichte auf Papier. Gerne unterstütze ich Sie auch dabei, einen Nachlass zu sichten, zu ordnen und für die nächste Generation zu bewahren.'
        }
      </p>
    </ContentMedia>
  </section>

  <section class="my-64">
    <div class="container grid grid-cols-1 gap-20">
      <div class="flex flex-col items-center gap-20">
        <h1 class="max-w-screen-sm text-center text-6xl lg:text-8xl">
          {'Wer sind meine Vorfahren?'}
        </h1>
        <p class="max-w-screen-sm text-center text-xl lg:text-2xl">
          {'Diese Tipps bringen Sie weiter.'}
        </p>
      </div>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-1 lg:grid-cols-3">
        <Feature title={'So finden Sie Ihre Vorfahren in historischen Adressbüchern'}>
          {
            'Wer waren die Menschen, die uns vorausgingen? Wie lebten und arbeiteten sie? Was war ihnen wichtig? Das sind die Fragen, die uns bewegen, wenn wir uns mit Biografien beschäftigen. Eine gute Quelle für die Forschung sind historische Adressbücher.'
          }
        </Feature>
        <Feature title={'Wie mit der Familienforschung beginnen?'}>
          {
            'Stehen Sie vor der Herausforderung, dass Sie gerne mehr über Ihre Vorfahren wissen würden, aber Ihnen liegen kaum Informationen vor? Wir zeigen Ihnen, wie Sie Ihrer Familiengeschichte auf die Spur kommen.'
          }
        </Feature>
        <Feature title={'So recherchieren Sie zu Frankfurter Familien'}>
          {
            'In diesem Blogartikel erläutere ich, wie Sie zu Frankfurter Familien selbst und größtenteils kostenlos recherchieren können - über die Recherche in historischen Adressbüchern bis hin zu den zentralen Quellen in den Regional- und Landesarchiven.'
          })
        </Feature>
      </div>
    </div>
  </section>

  <ContentMedia imgSrc={portrait}>
    <h2 class="text-center">{'Beratung'}</h2>
    <p class="text-base">
      {
        'Sie wollen Ihre Familiengeschichte aufarbeiten, wissen aber nicht, wo Sie beginnen sollen und welche Archive für Sie relevant sind? Ich berate Sie gerne und erkläre Ihnen, wie Sie zu Ihren Vorfahren recherchieren können.'
      }
    </p>
  </ContentMedia>

  <ContentMedia imgSrc={family} reverseImg>
    <h2 class="text-center">{'Familiengeschichte recherchieren und erzählen'}</h2>
    <p class="text-base">
      {
        'Wir finden für Sie Schlüsseldokumente und Bilder zu Ihren Vorfahren. Wir bringen Ihre Familiengeschichte auf Papier und helfen Ihnen so, die Familienerinnerungen für kommende Generationen zu bewahren.'
      }
    </p>
  </ContentMedia>

  <ContentMedia imgSrc={fotokiste}>
    <h2 class="text-center">{'Übersetzung alter Handschriften'}</h2>
    <p class="text-base">
      {
        'Haben Sie alte Briefe und Dokumente aus dem Nachlass Ihrer Familie, die Sie nicht lesen können? Wir entziffern alte Handschriften und mache diese so wieder lesbar.'
      }
    </p>
  </ContentMedia>

  <ContentMedia imgSrc={hands} reverseImg>
    <h2 class="text-center">{'Historische Führungen durch die Heimatorte ihrer Vorfahren'}</h2>
    <p class="text-base">
      {
        'Möchten Sie mehr darüber wissen, wo Ihre Vorfahren gelebt haben? Sie möchten die Heimatstadt ihrer Familie nicht nur auf Fotos sehen, sondern sich selbst auf Spurensuche begeben? Gerne zeige ich Ihnen die Orte, die für Ihre Vorfahren Bedeutung hatten, und treffe Sie zu einer privaten Führung. Auf Wunsch erhalten Sie zusätzlich ein digitales Dossier, das die wichtigsten Stationen im Leben Ihrer Familie aufführt.'
      }
    </p>
  </ContentMedia>

  <ContentMedia imgSrc={teapot}>
    <h2 class="text-center">{'Stammbaum'}</h2>
    <p class="text-base">
      {
        'Vielleicht haben Sie bereits begonnen, einen Stammbaum Ihrer Familie zu erstellen, aber es gibt noch Lücken? Oder Sie sind sich unsicher, ob alle Angaben stimmen? Oder Sie stehen noch ganz am Anfang und wissen nicht, wie Sie beginnen sollen? Ich berate Sie gerne und unterstütze Sie dabei, Ihren Stammbaum zu erforschen.'
      }
    </p>
  </ContentMedia>

  <ContentMedia imgSrc={teapot} reverseImg>
    <h2 class="text-center">{'Vermittlung von historischen Objekten an passende Museen und Institutionen'}</h2>
    <p class="text-base">
      {
        'Haben Sie ein historisches Objekt, das Zuhause Platz wegnimmt? In einem Museum wäre ihr Familienerbstück besser aufgehoben? Oder gibt es Dokumente, die für Sie selbst nicht mehr wichtig, aber dennoch historisch wertvoll sind? Vor allem Museen und Archive freuen sich über neue Stücke, die die Sammlungen und Ausstellungen bereichern könnten. Ich stelle gerne einen passenden Kontakt her, damit Ihr Objekt ein neues Zuhause findet!'
      }
    </p>
  </ContentMedia>

  <section id="book">
    <div class="container">
      <div class="grid grid-cols-1 items-center justify-between justify-items-center gap-24">
        <div class="space-content flex w-full flex-col justify-center md:w-7/12 lg:w-5/12">
          <h2 class="mb-16 text-6xl">{t('families.book.title')}</h2>
          <p class="text-xl">
            {t('families.book.subtitle')}
          </p>
          <p class="text-base">
            {t('families.book.intro')}
          </p>
          <br />
          <div id="success" class="hidden">
            <Notification type="success" role="status" aria-live="polite">
              <p>{t('families.book.success')}</p>
            </Notification>
          </div>
          <form class="w-full" id="contact" action="https://api.staticforms.xyz/submit" method="post">
            <input type="hidden" name="accessKey" value="9ff3d376-ed87-491b-ab19-de84aebde1be" />
            <input type="text" name="honeypot" style="display: none;" />
            <input type="text" name="replyTo" value="@" style="display: none;" />
            <input type="hidden" name="subject" value="Nachricht über das Buchungsformular" />

            <div class="-mx-3 mb-6 flex flex-wrap">
              <div class="mb-6 w-full px-3 md:mb-0 md:w-1/2">
                <label class="mb-2 block text-xs font-bold uppercase tracking-wide" for="grid-first-name">
                  {t('home.contact.firstName')}
                </label>
                <input
                  class="mb-3 block w-full appearance-none rounded border border-red-500 px-4 py-3 leading-tight focus:bg-white focus:outline-none dark:text-black"
                  id="grid-first-name"
                  type="text"
                  placeholder="Jane"
                  name="$first_name"
                  required
                />
              </div>
              <div class="w-full px-3 md:w-1/2">
                <label class="mb-2 block text-xs font-bold uppercase tracking-wide" for="grid-last-name">
                  {t('home.contact.lastName')}
                </label>
                <input
                  class="block w-full appearance-none rounded border px-4 py-3 leading-tight focus:bg-white focus:outline-none dark:text-black"
                  id="grid-last-name"
                  type="text"
                  placeholder="Doe"
                  name="name"
                  required
                />
              </div>
            </div>
            <div class="-mx-3 mb-6 flex flex-wrap">
              <div class="w-full px-3">
                <label class="mb-2 block text-xs font-bold uppercase tracking-wide" for="grid-email">
                  {t('home.contact.email')}
                </label>
                <input
                  class="mb-3 block w-full appearance-none rounded border px-4 py-3 leading-tight focus:bg-white focus:outline-none dark:text-black"
                  id="grid-email"
                  type="email"
                  name="email"
                  placeholder="jane.doe@example.com"
                  required
                />
              </div>
            </div>
            <div class="-mx-3 mb-6 flex flex-wrap">
              <div class="w-full px-3">
                <label class="mb-2 block text-xs font-bold uppercase tracking-wide" for="grid-message">
                  {t('families.book.text')}
                </label>
                <textarea
                  form="contact"
                  rows={8}
                  class="mb-3 block w-full appearance-none rounded border px-4 py-3 leading-tight focus:bg-white focus:outline-none dark:text-black"
                  id="grid-message"
                  name="message"
                  required></textarea>
              </div>
            </div>

            <div class="-mx-3 mb-6 flex flex-wrap">
              <div class="grid w-full grid-flow-col items-center px-3">
                <input
                  type="checkbox"
                  value="Hat Bedingungen akzeptiert."
                  id="grid-privacy"
                  name="$privacy"
                  required
                  class="h-4 w-20"
                />
                <label class="text-s block" for="grid-privacy">
                  {t('home.contact.privacy')}
                </label>
              </div>
            </div>

            <div class="-mx-3 mb-6 flex flex-wrap">
              <div class="grid w-full grid-flow-col items-center px-3">
                <input
                  type="checkbox"
                  value="Möche auf die Liste für den nächsten Workshop"
                  id="grid-get-to-know"
                  name="$Kennenlerngespräch"
                  class="h-4 w-20"
                />
                <label class="text-s block" for="grid-get-to-know">
                  {t('families.book.workshop')}
                </label>
              </div>
            </div>

            <input type="hidden" name="redirectTo" value={`${redirectUrl.toString()}#book`} />

            <button class="button" value="Submit" type="submit">
              {t('home.contact.submit')}
            </button>
          </form>
        </div>
      </div>
    </div>
  </section>
</DefaultLayout>

<script>
  const forms = document.querySelectorAll('form')
  const notification = document.querySelector('#success') as HTMLElement

  const isSent = new URLSearchParams(window.location.search).get('sent') === 'true'
  if (isSent) {
    forms.forEach((form) => (form.style.display = 'none'))
    notification.style.display = 'block'
  }
</script>
