---
import DefaultLayout from '../../layouts/DefaultLayout.astro'
import Hero from '../../components/Hero.astro'
import Feature from '../../components/Feature.astro'
import ContentMedia from '../../components/ContentMedia.astro'
import { getStaticPaths, useTranslations, type Locale } from '../../utils/i18n'
import lupe from '../../assets/img/lupe.webp'
import fotokiste from '../../assets/img/fotokiste.webp'
import fotoHand from '../../assets/img/foto-hand.webp'
import buchHand from '../../assets/img/buch-hand.webp'
import pair from '../../assets/img/pair-bubbles.webp'
import { Image } from 'astro:assets'
import { Notification, Accordion, AccordionItem } from 'accessible-astro-components'
import Voices from '../../components/Voices'

const t = useTranslations(Astro.currentLocale as Locale)
const redirectUrl = new URL(Astro.url.toString())
redirectUrl.searchParams.set('sent', 'true')

export { getStaticPaths } from '../../utils/i18n'
export const prerender = true
---

<DefaultLayout title={t('home.title')}>
  <Hero />

  <section class="my-64">
    <div class="container">
      <h2 class="mb-16 text-6xl">{t('home.offer')}</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-1 lg:grid-cols-3">
        <Feature title={t('home.for.families.title')}>
          {t('home.for.families.description')}
        </Feature>
        <Feature title={t('home.for.companies.title')}>
          {t('home.for.companies.description')}
        </Feature>
        <Feature title={t('home.for.culture.title')}>
          {t('home.for.culture.description')})
        </Feature>
      </div>
    </div>
  </section>

  <section class="my-64">
    <div class="container grid grid-cols-1 gap-12">
      <h2 class="text-center">{t('home.collaboration.title')}</h2>
      <h3 class="text-center">{t('home.collaboration.subtitle')}</h3>
      <p class="text-base">
        {t('home.collaboration.description.p1')}
      </p>
      <p class="text-base">
        {t('home.collaboration.description.p2')}
      </p>
    </div>
  </section>

  <ContentMedia imgSrc={lupe} reverseImg>
    <h2 class="text-center">{t('home.pre-research.title')}</h2>
    <p class="text-base">
      {t('home.pre-research.description.p1')}
    </p>
    <p class="text-base">
      {t('home.pre-research.description.p2')}
    </p>
  </ContentMedia>

  <ContentMedia imgSrc={fotokiste} reverseImg>
    <h2>{t('home.research.title')}</h2>
    <p class="text-base">
      {t('home.research.description')}
    </p>
  </ContentMedia>

  <ContentMedia imgSrc={fotoHand} reverseImg>
    <h2>{t('home.evaluation.title')}</h2>
    <p class="text-base">
      {t('home.evaluation.description')}
    </p>
  </ContentMedia>

  <ContentMedia imgSrc={buchHand} reverseImg>
    <h2>{t('home.texting.title')}</h2>

    <p class="text-base">
      {t('home.texting.description')}
    </p>
  </ContentMedia>

  <Voices client:only="react" />

  <section id="conditions" class="my-64">
    <div class="container">
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2">
        <div class="space-content">
          <h3>{t('home.conditions.title')}</h3>
          <h4>
            {t('home.conditions.subtitle')}
          </h4>
          <p class="text-base">
            {t('home.conditions.p1')}
          </p>
          <p class="text-base">
            {t('home.conditions.p2')}
          </p>
        </div>
        <div class="space-content">
          <Accordion>
            <AccordionItem header={t('home.conditions.consulting.heading')}>
              <ul class="list-disc px-4">
                <li>{t('home.conditions.consulting.li1')}</li>
                <li>{t('home.conditions.consulting.li2')}</li>
                <li>{t('home.conditions.consulting.li3')}</li>
                <li>{t('home.conditions.consulting.li4')}</li>
                <li>{t('home.conditions.consulting.li5')}</li>
              </ul>
            </AccordionItem>
            <AccordionItem header={t('home.conditions.facts.heading')}>
              <p>
                {t('home.conditions.facts.p1')}
              </p>
            </AccordionItem>
            <AccordionItem header={t('home.conditions.searches.heading')}>
              <p>
                {t('home.conditions.searches.p1')}
              </p>
            </AccordionItem>
            <AccordionItem header={t('home.conditions.research.heading')}>
              <ul class="list-outside list-disc px-4">
                <li>{t('home.conditions.research.li1')}</li>
                <li>{t('home.conditions.research.li2')}</li>
                <li>{t('home.conditions.research.li3')}</li>
              </ul>
            </AccordionItem>
            <AccordionItem header={t('home.conditions.exhibitions.heading')}>
              <ul class="list-outside list-disc px-4">
                <li>{t('home.conditions.exhibitions.li1')}</li>
                <li>{t('home.conditions.exhibitions.li2')}</li>
                <li>{t('home.conditions.exhibitions.li3')}</li>
                <li>{t('home.conditions.exhibitions.li4')}</li>
                <li>{t('home.conditions.exhibitions.li5')}</li>
                <li>{t('home.conditions.exhibitions.li6')}</li>
              </ul>
            </AccordionItem>
          </Accordion>
        </div>
      </div>
    </div>
  </section>

  <section id="contact">
    <div class="container">
      <div class="grid grid-cols-1 items-center justify-between justify-items-center gap-24 md:grid-cols-2">
        <div class="space-content flex w-full flex-col justify-center lg:w-5/12">
          <h2 class="mb-16 text-6xl">{t('home.contact.title')}</h2>
          <Notification type="success" role="status" aria-live="polite">
            <p>{t('home.contact.success')}</p>
          </Notification>
          <form class="w-full max-w-lg" id="contact" action="https://api.staticforms.xyz/submit" method="post">
            <input type="hidden" name="accessKey" value="9ff3d376-ed87-491b-ab19-de84aebde1be" />
            <input type="text" name="honeypot" style="display: none;" />
            <input type="text" name="replyTo" value="@" style="display: none;" />
            <input type="hidden" name="subject" value="Nachricht über das Kontaktformular" />

            <div class="-mx-3 mb-6 flex flex-wrap">
              <div class="mb-6 w-full px-3 md:mb-0 md:w-1/2">
                <label class="mb-2 block text-xs font-bold uppercase tracking-wide" for="grid-first-name">
                  {t('home.contact.firstName')}
                </label>
                <input
                  class="mb-3 block w-full appearance-none rounded border border-red-500 px-4 py-3 leading-tight focus:bg-white focus:outline-none"
                  id="grid-first-name"
                  type="text"
                  placeholder="Jane"
                  name="$first_name"
                  required
                />
              </div>
              <div class="w-full px-3 md:w-1/2">
                <label class="mb-2 block text-xs font-bold uppercase tracking-wide" for="grid-last-name">
                  {t('home.contact.lastName')}
                </label>
                <input
                  class="block w-full appearance-none rounded border px-4 py-3 leading-tight focus:bg-white focus:outline-none"
                  id="grid-last-name"
                  type="text"
                  placeholder="Doe"
                  name="name"
                  required
                />
              </div>
            </div>
            <div class="-mx-3 mb-6 flex flex-wrap">
              <div class="w-full px-3">
                <label class="mb-2 block text-xs font-bold uppercase tracking-wide" for="grid-email">
                  {t('home.contact.email')}
                </label>
                <input
                  class="mb-3 block w-full appearance-none rounded border px-4 py-3 leading-tight focus:bg-white focus:outline-none"
                  id="grid-email"
                  type="email"
                  name="email"
                  required
                />
              </div>
            </div>
            <div class="-mx-3 mb-6 flex flex-wrap">
              <div class="w-full px-3">
                <label class="mb-2 block text-xs font-bold uppercase tracking-wide" for="grid-message">
                  {t('home.contact.message')}
                </label>
                <textarea
                  form="contact"
                  rows={8}
                  class="mb-3 block w-full appearance-none rounded border px-4 py-3 leading-tight focus:bg-white focus:outline-none"
                  id="grid-message"
                  name="message"
                  required></textarea>
              </div>
            </div>

            <div class="-mx-3 mb-6 flex flex-wrap">
              <div class="grid w-full grid-flow-col items-center px-3">
                <input
                  type="checkbox"
                  value="Hat Bedingungen akzeptiert."
                  id="grid-privacy"
                  name="$privacy"
                  required
                  class="h-4 w-20"
                />
                <label class="text-s block" for="grid-privacy">
                  {t('home.contact.privacy')}
                </label>
              </div>
            </div>

            <div class="-mx-3 mb-6 flex flex-wrap">
              <div class="grid w-full grid-flow-col items-center px-3">
                <input
                  type="checkbox"
                  value="Möchte einen Gutschein kaufen"
                  id="grid-coupon"
                  name="$Gutschein"
                  class="h-4 w-20"
                />
                <label class="text-s block" for="grid-coupon">
                  {t('home.contact.coupon')}
                </label>
              </div>
            </div>

            <div class="-mx-3 mb-6 flex flex-wrap">
              <div class="grid w-full grid-flow-col items-center px-3">
                <input
                  type="checkbox"
                  value="Möchte ein Kennenlerngespräch"
                  id="grid-get-to-know"
                  name="$Kennenlerngespräch"
                  class="h-4 w-20"
                />
                <label class="text-s block" for="grid-get-to-know">
                  {t('home.contact.get-to-know')}
                </label>
              </div>
            </div>

            <input type="hidden" name="redirectTo" value={`${redirectUrl.toString()}#contact`} />

            <button class="button" value="Submit" type="submit">
              {t('home.contact.submit')}
            </button>
          </form>
        </div>
        <Image src={pair} alt={''} class="w-64 rounded-lg md:w-fit" />
      </div>
    </div>
  </section>
  {/** Optional TODO: Add cal.com */}
</DefaultLayout>

<script>
  const forms = document.querySelectorAll('form')
  const notification = document.querySelector('div.notification') as HTMLElement
  notification.style.display = 'none'

  const isSent = new URLSearchParams(window.location.search).get('sent') === 'true'
  if (isSent) {
    forms.forEach((form) => (form.style.display = 'none'))
    notification.style.display = 'block'
  }
</script>
