---
import ContentMedia from '../../components/ContentMedia.astro'
import DefaultLayout from '../../layouts/DefaultLayout.astro'
import { useTranslations, type Locale } from '../../utils/i18n'
import microscope from '../../assets/img/microscope.webp'
import teekanne from '../../assets/img/teekanne.webp'
import exhibit from '../../assets/img/exhibit.webp'
import Voices from '../../components/Voices'

const t = useTranslations(Astro.currentLocale as Locale)

export { getStaticPaths } from '../../utils/i18n'
export const prerender = true
---

<DefaultLayout title={t('museums.title')}>
  <section class="my-64">
    <div class="flex flex-col items-center gap-20">
      <h1 class="max-w-screen-sm text-center text-6xl lg:text-8xl">
        {t('museums.intro.h1')}
      </h1>
      <p class="max-w-screen-sm text-center text-xl lg:text-2xl">
        {t('museums.intro.p')}
      </p>
    </div>
  </section>
  <section class="my-64">
    <div class="container space-y-10">
      <h2 class="text-center text-4xl">{t('museums.offer')}</h2>

      <p class="text-center text-xl font-normal dark:text-gray-400 lg:text-2xl">{t('museums.tagline')}</p>
    </div>
  </section>
  <section class="my-64">
    <ContentMedia imgSrc={microscope} reverseImg>
      <h4>{t('museums.research.title')}</h4>
      {(t('museums.research.p') as string[]).map((paragraph) => <p class="text-xl">{paragraph}</p>)}
    </ContentMedia>
  </section>
  <section class="my-64">
    <ContentMedia imgSrc={teekanne} reverseImg>
      <h4>{t('museums.insights.title')}</h4>
      {(t('museums.insights.p') as string[]).map((paragraph) => <p class="text-xl">{paragraph}</p>)}
    </ContentMedia>
  </section>
  <section class="my-64">
    <ContentMedia imgSrc={exhibit} reverseImg>
      <h4>{t('museums.tell.title')}</h4>
      <p class="text-xl">
        {t('museums.tell.p')}
      </p>
    </ContentMedia>
  </section>
  <Voices client:only="react" />
</DefaultLayout>
