---
import { Accordion, AccordionItem } from "accessible-astro-components";
import anka from "../../assets/img/anka-sitzend.webp";
import buchhand from "../../assets/img/buchhand.webp";
import ellen from "../../assets/img/ellen-lesend.webp";
import fotokiste from "../../assets/img/fotokiste.webp";
import ContentMedia from "../../components/ContentMedia.astro";
import DefaultLayout from "../../layouts/DefaultLayout.astro";
import { type Locale, useTranslations } from "../../utils/i18n";

const t = useTranslations(Astro.currentLocale as Locale);

export { getStaticPaths } from "../../utils/i18n";
export const prerender = true;
---

<DefaultLayout title={t('team.title')}>
  <section class="my-64">
    <div class="container">
      <h1 class="text-center text-6xl md:text-left lg:text-8xl">
        {t('team.title')}
      </h1>
    </div>
  </section>

  <ContentMedia imgSrc={anka}>
    <h2 class="text-center">{'Ann-Kathrin Rahlwes'}</h2>
    <p class="text-center text-base font-normal dark:text-gray-400 lg:text-xl">
      {'M.A. Politikwissenschaft, Mittlere und Neuere Geschichte sowie Philosophie'}
    </p>
    <p class="text-base">
      {t('team.anka.text')}
    </p>
  </ContentMedia>

  <ContentMedia imgSrc={fotokiste} reverseImg>
    <h3 class="text-center">{t('team.about')}</h3>
    <p class="text-base">
      {t('team.anka.about')}
    </p>

    <Accordion>
      <AccordionItem header={t('team.speeches')}>
        <ul class="list-disc px-4">
          {t('team.anka.speeches').map((speech) => <li>{speech}</li>)}
        </ul>
      </AccordionItem>
      <AccordionItem header={t('team.publications')}>
        <ul class="list-disc px-4">
          {t('team.anka.publications').map((publication) => <li>{publication}</li>)}
        </ul>
      </AccordionItem>
    </Accordion>
  </ContentMedia>

  <ContentMedia imgSrc={ellen}>
    <h2 class="text-center">{'Ellen Rinner'}</h2>
    <p class="text-center text-base font-normal dark:text-gray-400 lg:text-xl">
      {'M.A. Kunstgeschichte, Neuere deutsche Literatur und Philosophie'}
    </p>
    <p class="text-base">
      {t('team.ellen.text')}
    </p>
  </ContentMedia>

  <ContentMedia imgSrc={buchhand} reverseImg>
    <h3 class="text-center">{t('team.about')}</h3>
    <p class="text-base">
      {t('team.ellen.about')}
    </p>

    <Accordion>
      <AccordionItem header={t('team.speeches')}>
        <ul class="list-disc px-4">
          {t('team.ellen.speeches').map((publication) => <li>{publication}</li>)}
        </ul>
      </AccordionItem>
      <AccordionItem header={t('team.publications')}>
        <ul class="list-disc px-4">
          {t('team.ellen.publications').map((publication) => <li>{publication}</li>)}
        </ul>
      </AccordionItem>
      <AccordionItem header={t('team.translations')}>
        <ul class="list-disc px-4">
          {t('team.ellen.translations').map((publication) => <li>{publication}</li>)}
        </ul>
      </AccordionItem>
    </Accordion>
  </ContentMedia>
</DefaultLayout>
